.score-card {
    margin-bottom: 10px;

    .score-body {
        padding: 0px;
    }

    .score {
        text-align: center;
        background-color: lightgrey;
    }

    .event-score {
        font-size: 95%;
        margin-right: 5px;
    }
}

