<!--component html goes here -->
    <div class="panel" [ngClass]="displayState" (click)="assignCompetitor()">
          <div class="panel-heading">
                <h3 class="panel-title">Heat {{num}}</h3>
          </div>
          <ul class="list-group" >
              <li class="list-group-item" *ngFor="let competitor of heat.competitors; let lane = index">
                <span class="lane-number">
                    {{lane + 1}}
                </span>
                {{ competitor.name }}
                <span class="pull-right">
                   <i class="fa fa-remove" (click)="remove(competitor)"></i>
                </span>
              </li>
              <li class="list-group-item text-muted" *ngFor="let lane of emptyLanes">
                  Empty Lane
              </li>
          </ul>
    </div>